form {
    max-width: 480px;
    margin: 0 auto;
}

form fieldset {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

form fieldset label, input {
    display: block;
    width: 188px;
    margin: 20px auto;
}

form fieldset input {
    height: 64px;
}

form fieldset button {
    width: 60%;
    height: 64px;
    margin: 40px auto;
}

form fieldset #submit-button {
    margin-top: 0;
}

